.page-header {
  padding-top: 37px;
  padding-bottom: 51px;
  color: $color-default-white;
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

  @include vp-1199 {
    padding-top: 40px;
    padding-bottom: 82px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 78px;
  }
}

.page-header__nav {
  display: flex;
  align-items: flex-start;
  column-gap: 25px;
  row-gap: 15px;

  @include vp-1199 {
    margin-bottom: 17px;
  }
}

.page-header__nav-js {
  @media (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.page-header__logo-icon {
  @include vp-1199 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
  }
}

.page-header__links-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-start;
  flex-wrap: wrap;
  max-width: 830px;
  gap: 15px;
  column-gap: 30px;

  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: -8px;
  margin-left: auto;

  @include vp-767 {
    margin-top: -5px;
  }
}

.page-header__links-wrapper a {
  color: $color-default-white;
  letter-spacing: 0.03em;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;

  @include vp-1199 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}

.page-header__links-wrapper a:hover,
.page-header__links-wrapper a:focus {
  text-decoration: underline;
}

.page-header__links-wrapper a:focus {
  outline: 1px solid #ffffff;
  outline-offset: 4px;
}

.page-header__links-wrapper a:active {
  text-decoration: none;
  outline: none;
  opacity: 0.7;
}

.page-header__nav .page-header__logo-link {
  margin-left: 0;
  margin-top: 3px;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: -2px;
  }
}

.page-header__content {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.page-header__content-info {
  position: relative;
  padding-left: 150px;
  margin-top: 92px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    margin-top: 50px;
    padding-left: 138px;
    margin-left: auto;
  }

  @media (width: 768px) {
    margin-left: 0;
  }

  @include vp-767 {
    padding-left: 0;
    margin-left: 0;
    margin-top: 48px;
  }
}

.page-header__content-info p {
  margin: 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 15px;

  @include vp-1199 {
    font-size: 34px;
    line-height: 41px;
    margin-right: 3px;
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 15px;
  }
}

.page-header__content-info h1 {
  margin: 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 92px;
  line-height: 110px;
  letter-spacing: 0.05em;
  text-align: right;
  margin-bottom: 50px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px $color-default-white;

  @include vp-1199 {
    text-transform: none;
    font-size: 72px;
    line-height: 86px;
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.page-header__content-info-products {
  margin: 0;
  padding: 0;
  list-style-type: none;

  position: absolute;
  top: 195px;
  left: 20px;
  text-align: right;

  @include vp-1199 {
    top: 137px;
    left: 0;
  }

  @include vp-767 {
    top: 126px;
    right: 177px;
  }
}

.page-header__content-info-products li {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.page-header__content-info-btn {
  background-color: inherit;
  border: 4px solid $color-default-white;
  min-width: 234px;
  justify-content: space-around;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding-left: 20px;
  padding-right: 19px;
  padding-top: 19px;
  padding-bottom: 20px;
  margin-left: auto;
  user-select: none;
  text-align: center;
  color: $color-default-white;
  max-width: 234px;

  @include vp-1199 {
    min-width: 187px;
    margin-right: -3px;
  }

  @include vp-767 {
    margin-right: 0;
    max-width: none;
    width: 100%;
  }
}

.page-header__content-info-btn:hover,
.page-header__content-info-btn:focus {
  border-color: $color-paris-daisy;
  color: $color-paris-daisy;
}

.page-header__content-info-btn:focus {
  outline: none;
  text-decoration: underline;
}

.page-header__content-info-btn:active {
  opacity: 0.7;
}

.page-header__content-img-container {
  margin-left: 64px;
  margin-top: 0;
  max-width: 500px;
  margin-right: auto;

  @include vp-1199 {
    margin-left: auto;
    margin-right: 0;
    width: percentage(calc(324 / $content-width-tb));
    max-width: 428px;
  }
}

.page-header__content-img-container-js {
  @media (min-width: 1338px) {
    margin-top: -18px;
  }
}

.page-header__content-img-container img {
  width: 100%;

  @include vp-767 {
    display: none;
  }
}
