.products {
  position: relative;
  z-index: 1;
  padding-top: 119px;
  padding-bottom: 120px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: $color-ghost-white;
}

.products__decor-img {
  position: absolute;
  z-index: 0;
  bottom: -147px;
  right: 0;
}

.products__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__wrapper h2 {
  margin: 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin-bottom: 97px;
  margin-right: 9px;
}

.products__wrapper-js h2 {
  margin-bottom: 10px;
}

.products__tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: percentage(calc(520 / 798));
  top: percentage(calc(104 / 798));
  left: 50%;
  transform: translateX(-50%);
}

.products__tabs-js {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  transform: none;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 39px;
  max-width: 341px;
  gap: 46px;
}

.products__tabs-js::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(120, 120, 120, 0.2);
  bottom: 0;
  left: 0;
}

.products__tab-btn {
  background-color: transparent;
  border-bottom: 3px solid $color-crimson;
  cursor: default;
  font-size: 20px;
  line-height: 150%;
}

.products__tab-btn-js {
  color: rgba(16, 38, 84, 0.5);
  border-color: transparent;
  padding-top: 5px;
  padding-bottom: 12px;
  cursor: pointer;
}

.products__tab-btn-js:hover {
  color: $color-paris-daisy;
  border-color: $color-paris-daisy;
}

.products__tab-btn-js-current {
  color: $color-sapphire;
  border-color: $color-crimson;
}

.products__tab-btn-js:focus {
  color: $color-egyptian-blue;
  border-color: $color-egyptian-blue;
  outline: none;
}

.products__tab-btn-js:active {
  color: $color-sapphire;
  border-color: $color-sapphire;
  opacity: 0.7;
}

.products__tab-btn-js-active {
  color: $color-sapphire;
  border-color: $color-sapphire;
  opacity: 0.7;
}

.products__lists-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  width: 100%;
}

.products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(270px, 1fr));
  gap: 40px;
  width: 100%;
}

.products__list-js {
  display: none;
}

.products__item {
  position: relative;
  z-index: 1;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  padding-top: 50px;
  padding-bottom: 60px;
  min-height: 448px;
  border: 7px solid $color-default-white;
}

.products__item:hover,
.products__item:focus {
  border-image: linear-gradient(135deg, #ed0233, #003eb7);
  border-image-slice: 1;
}

.products__item:focus {
  outline: none;
}

.products__item:active {
  opacity: 0.7;
}

.products__item::after {
  position: absolute;
  content: attr(data-price);
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 100px;
  line-height: 150%;
  color: $color-whisper;
  opacity: 0.48;
  z-index: -1;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: transparent;
}

.products__item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: $color-sapphire;
  margin-bottom: 5px;
}

.products__item p {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: $color-chambray;
  margin-bottom: 65px;
}

.products__item div:not(:last-child) {
  display: flex;
  align-items: center;
}

.products__item span {
  color: $color-egyptian-blue;
  font-size: 60px;
  line-height: 150%;
  font-weight: 700;
  margin-right: 12px;
}

.products__item-link {
  min-width: 206px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding-top: 25px;
  padding-bottom: 26px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-top: auto;
  outline: 2px solid $color-sapphire;
  outline-offset: -2px;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.products__item:hover .products__item-link,
.products__item:focus .products__item-link {
  outline: none;
  color: $color-default-white;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
}

.products__item:active .products__item-link {
  color: $color-paris-daisy;
}
