.promo {
  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  max-width: 1160px;
  min-width: 320px;
  display: flex;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 69px;
    padding-bottom: 50px;
    align-items: center;
  }
}

.promo__info-wrapper {
  padding: 5px;
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: $color-torch-red-1;
  color: $color-default-white;
  width: percentage(calc(500 / $content-width-dp));

  @include vp-1199 {
    padding-top: 50px;
    padding-bottom: 48px;
    width: percentage(calc(292 / $content-width-tb));
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    width: 100%;
    min-height: 292px;
    max-width: 560px;
  }
}

.promo__info {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  margin: 0 auto;

  @include vp-1199 {
    width: percentage(calc(210 / 292));
  }

  @include vp-767 {
    width: percentage(calc(210 / 290));
  }
}

.promo__info > p {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 47px;

  @include vp-1199 {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.promo__text {
  display: flex;
  padding-left: 12px;
  margin-bottom: 25px;

  @include vp-1199 {
    margin-bottom: 12px;
    padding-left: 5px;
  }
}

.promo__text h2 {
  margin: 0;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 82px;
  line-height: 96%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 48px;
    text-align: center;
  }
}

.promo__date-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @include vp-1199 {
    margin-left: 36px;
    margin-right: auto;
  }
}

.promo__date {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  row-gap: 5px;
  margin-bottom: 28px;

  @include vp-1199 {
    margin-bottom: 9px;
  }
}

.promo__date > span:first-child,
.promo__time > span:first-child {
  font-size: 18px;
  line-height: 18px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 12px;
  }
}

.promo__date > span:first-child {
  position: relative;
  grid-column: 1/3;
  margin-bottom: 13px;

  @include vp-1199 {
    margin-bottom: 5px;
  }
}

.promo__date > span:first-child::after,
.promo__time > span:first-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -10px;
  left: 0;
  background-color: $color-default-white;

  @include vp-1199 {
    bottom: -5px;
  }
}

.promo__date > span:first-child + span,
.promo__time > span:last-child {
  font-weight: 700;
  font-size: 40px;
  line-height: 28px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 18px;
  }
}

.promo__date > span:first-child + span {
  grid-column: 1/2;
  align-self: flex-start;
}

.promo__date > small {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-top: -2px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    margin-left: 3px;
  }
}

.promo__time {
  display: flex;
  flex-direction: column;
}

.promo__time > span:first-child {
  position: relative;
  margin-bottom: 20px;

  @include vp-1199 {
    margin-bottom: 9px;
  }
}

.promo__link {
  color: $color-default-white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid $color-default-white;
  padding: 15px;
  padding-top: 23px;
  padding-bottom: 24px;
  user-select: none;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
}

.promo__link:hover,
.promo__link:focus {
  color: $color-sapphire;
  border-color: $color-sapphire;
}

.promo__link:focus {
  outline: none;
  text-decoration: underline;
  border-color: $color-paris-daisy;
  color: $color-default-white;
}

.promo__link:active {
  text-decoration: none;
  opacity: 0.7;
}

.promo__photo {
  width: percentage(calc(660 / $content-width-dp));

  @include vp-1199 {
    width: percentage(calc(386 / $content-width-tb));
  }

  @include vp-767 {
    width: 100%;
    max-width: 560px;
  }
}

.promo__photo img {
  height: 100%;
  width: auto;
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
  }
}
