.personal {
  padding-top: 55px;
  padding-bottom: 90px;

  @include vp-1199 {
    padding-top: 0;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 70px;
  }
}

.personal h2 {
  font-family: $ff-alumni-sans;
  color: #102654;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 48px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
}

.personal__list {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;

  @include vp-1199 {
    width: percentage(calc(566 / $content-width-tb));
  }

  @include vp-767 {
    width: percentage(calc(226 / $content-width-ml));
  }
}

.personal__trainer-list {
  padding-left: 25px;
  margin: 0;
  list-style-type: disc;
  max-width: 175px;
  font-size: 14px;
  line-height: 21px;

  @include vp-767 {
    padding-left: 21px;
  }
}

.personal__trainer-list li {
  position: relative;
  padding-inline-start: 4px;
}

.personal__trainer-list li:not(:last-child) {
  margin-bottom: 13px;
}

.personal__trainer-list li::marker {
  position: absolute;
  font-size: 15px;
  width: 7px;
  top: 0;
}

.personal__swiper-slide {
  position: relative;
  overflow-y: auto;
  padding-top: 56px;
  padding-bottom: 25px;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 294px;
  background-attachment: fixed;
  background-color: #102654;
  background-image: url("../img/svg/traner-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include vp-1199 {
    height: calc(294 / 768) * 100vw;
  }

  @include vp-767 {
    height: calc(274 / 320) * 100vw;
    padding-top: 46px;
  }
}


.personal__swiper-slide > h3 {
  order: 1;
  margin: 0;
  margin-top: auto;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.personal__swiper-slide:hover > h3 {
  order: 0;
  margin: 0;
  margin-bottom: 6px;
}

.personal__swiper-slide:hover {
  background-blend-mode: multiply;
  background-color: rgba(16, 38, 84, 0.89);
  box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);
}

.personal__swiper-slide:hover::after {
  display: block;
}

.personal__swiper-slide p,
.personal__trainer-list {
  display: none;
  margin: 0;
}

.personal__swiper-slide p {
  font-size: 16px;
  line-height: 16px;
  color: #b6bdcc;
}

.personal__swiper-slide:hover p,
.personal__swiper-slide:hover ul {
  display: block;
}

.personal__swiper-slide:hover p {
  margin-bottom: 34px;

  @include vp-767 {
    margin-bottom: 36px;
  }
}

.personal__slide-background {
  background-color: $color-sapphire;
}

.personal__button-prev {
  left: -67px;

  @include vp-767 {
    left: -32px;
  }
}

.personal__button-next {
  right: -67px;

  @include vp-767 {
    right: -32px;
  }
}

.personal__button-next svg {
  @include vp-767 {
    margin-right: 0;
  }
}

.personal__button-prev svg {
  @include vp-767 {
    margin-left: 0;
  }
}

.personal__swiper-slide:focus {
  outline: 3px solid #ed0233;
  outline-offset: -3px;
}


.personal__swiper-slide[data-worker-name="Пашков"].visible {
  @media (min-width: 1200px) {
    background-image: url("../img/desktop/trainer3-1x.webp");

    @include retina {
      background-image: url("../img/desktop/trainer3-2x.webp");
    }
  }

  @media (min-width: 768px) {
    background-image: url("../img/tablet/trainer2-1x.webp");

    @include retina {
      background-image: url("../img/tablet/trainer2-2x.webp");
    }
  }

  @media (min-width: 320px) {
    background-image: url("../img/mobile/trainer3-1x.webp");

    @include retina {
      background-image: url("../img/mobile/trainer3-2x.webp");
    }
  }
}

.personal__swiper-slide[data-worker-name="Кетова"].visible {
  @media (min-width: 1200px) {
    background-image: url("../img/desktop/trainer4-1x.webp");

    @include retina {
      background-image: url("../img/desktop/trainer4-2x.webp");
    }
  }

  @media (min-width: 768px) {
    background-image: url("../img/tablet/trainer1-1x.webp");

    @include retina {
      background-image: url("../img/tablet/trainer1-2x.webp");
    }
  }

  @media (min-width: 320px) {
    background-image: url("../img/mobile/trainer3-1x.webp");

    @include retina {
      background-image: url("../img/mobile/trainer3-2x.webp");
    }
  }
}

.personal__swiper-slide[data-worker-name="Павлова"].visible {
  @media (min-width: 1200px) {
    background-image: url("../img/desktop/trainer1-1x.webp");

    @include retina {
      background-image: url("../img/desktop/trainer1-2x.webp");
    }
  }

  @media (min-width: 768px) {
    background-image: url("../img/tablet/trainer1-1x.webp");

    @include retina {
      background-image: url("../img/tablet/trainer1-2x.webp");
    }
  }

  @media (min-width: 320px) {
    background-image: url("../img/mobile/trainer1-1x.webp");

    @include retina {
      background-image: url("../img/mobile/trainer1-2x.webp");
    }
  }
}

.personal__swiper-slide[data-worker-name="Лавров"].visible {
  @media (min-width: 1200px) {
    background-image: url("../img/desktop/trainer2-1x.webp");

    @include retina {
      background-image: url("../img/desktop/trainer2-2x.webp");
    }
  }

  @media (min-width: 768px) {
    background-image: url("../img/tablet/trainer2-1x.webp");

    @include retina {
      background-image: url("../img/tablet/trainer2-2x.webp");
    }
  }

  @media (min-width: 320px) {
    background-image: url("../img/mobile/trainer3-1x.webp");

    @include retina {
      background-image: url("../img/mobile/trainer3-2x.webp");
    }
  }
}
